body {
  margin: 0;
  font-style: 'Arial'
}

header {
  background: #03a9f4;
  text-align: center;
}

.logo {
  color: #fff;
  font-family: 'Arial';
  text-align: center;
  font-size: 36px;
}

header input {
  font-size: 20px;
  margin: 20px 0;
}

.news_item {
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}